In [1]:
# Load our libraires
import pandas
import numpy

In [2]:
# Load our sample data
import os
import pyprojroot
project_root_dir = pyprojroot.here()
input_file_path = os.path.join(project_root_dir, "Example Data Sets", "Test Scores.csv")
delimiter = ","
df = pandas.read_csv(input_file_path, delimiter=delimiter)
df

    ACT  FinalExam  QuizAvg  TestAvg
0    33        181       95       89
1    31        169       81       89
2    21        176       65       68
3    25        181       66       90
4    29        169       89       81
5    24        103       61       57
6    25        150       81       76
7    29        147       86       76
8    36        181       98      102
9    26        163       72       70
10   31        163       95       81
11   29        147       65       67
12   23        160       62       68
13   26        100       63       56

In [3]:
normalized_df = ((df - df.mean())/df.std())
normalized_df

         ACT  FinalExam   QuizAvg   TestAvg
0   1.270931   0.940813  1.304131  0.952737
1   0.790038   0.481346  0.285766  0.952737
2  -1.614426   0.749368 -0.878080 -0.638767
3  -0.652640   0.940813 -0.805340  1.028523
4   0.309145   0.481346  0.867689  0.346450
5  -0.893087  -2.045721 -1.169041 -1.472411
6  -0.652640  -0.246143  0.285766 -0.032480
7   0.309145  -0.361010  0.649467 -0.032480
8   1.992270   0.940813  1.522352  1.937953
9  -0.412194   0.251613 -0.368898 -0.487195
10  0.790038   0.251613  1.304131  0.346450
11  0.309145  -0.361010 -0.878080 -0.714553
12 -1.133533   0.136746 -1.096301 -0.638767
13 -0.412194  -2.160588 -1.023561 -1.548197

In [4]:
correlation_df = normalized_df.corr()
correlation_df

                ACT  FinalExam   QuizAvg   TestAvg
ACT        1.000000   0.336186  0.827803  0.710275
FinalExam  0.336186   1.000000  0.499949  0.795847
QuizAvg    0.827803   0.499949  1.000000  0.748696
TestAvg    0.710275   0.795847  0.748696  1.000000

$$ A = Q \Lambda Q^T $$

We can apply the spectral theory to decompose our square correlation matrix into its canonical form: two square matrices consisting of eigenvalues $\Lambda$ and eigenvectors $Q$ respectively.

In [8]:
normalized_transposed_df = normalized_df.T
correlation_numpy_array = numpy.corrcoef(normalized_transposed_df)
eigenvalues_numpy_array, right_eigenvectors_numpy_array = numpy.linalg.eig(correlation_numpy_array)

In [9]:
eigenvalues_numpy_array

array([2.97886743, 0.76294635, 0.08322983, 0.17495639])

In [19]:
pandas.DataFrame(right_eigenvectors_numpy_array * right_eigenvectors_numpy_array.T)

          0         1         2         3
0  0.238786  0.238795 -0.253366  0.259159
1  0.238795  0.540662 -0.167511  0.025662
2 -0.253366 -0.167511  0.021130 -0.539046
3  0.259159  0.025662 -0.539046  0.165063

In [16]:
right_eigenvectors_numpy_array.T[0]**2

array([0.23878585, 0.18926135, 0.27200213, 0.29995067])

In [17]:
0.48865719 ** 2 + 0.43504178 ** 2 + 0.52153824 ** 2 + 0.54767752 ** 2

1.0000000013799126